# Ignore archive
archive/**

# Ignore Aider State Files
.aider*

# Ignore venv
venv/

# Ignore pycache
__pycache__/
**/__pycache__/
*.pyc
diagram-definition-tests.txt
diagram-definitions.text
output_partaa
tt.txt
user-requests.txt
**/.DS_Store
*.DS_Store
*.retry
*/.DS_Store
.DS_Store
.DS_Store.vault_pass
.DS_Store?
.Spotlight-V100
.Trashes
._*
._.DS_Store
.idea
.local
.vault_pass
.vscode
Icon?
Thumbs.db
ehthumbs.db
localtest
roles/*/backup
roles/.DS_Store
roles/debops.*
venv/
age.agekey
**/.terraform/**
**/terraform.tfstate
**/terraform.tfstate.backup
**.terraform.lock.hcl
**.terraform.tfstate.lock.info
**.terraform.tfstate.backup.lock.info
init/media/.kube/*
init/media/.terraform/
**.decrypted~secrets*
init/media/terraform.tfstate
data/
.aider*
apps/group-03/fission/functions/http_headers/*.zip
apps/group-03/fission/functions/normalize_filename/*.zip
apps/group-03/openfaas/functions/normalize-audio/*.wav
.openai
**/*.tmp.[extension]
**.decrypted~**
