# Ignore archive
archive/**

# Ignore Aider State Files
.aider*

# Ignore venv
venv/

# Ignore pycache
__pycache__/
**/__pycache__/
*.pyc
diagram-definition-tests.txt
diagram-definitions.text
output_partaa
tt.txt
user-requests.txt
